name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run second step
        run: |
          sleep 20
          echo "Hello from second step"
      - name : run multiple steps
        run : |
          touch sahil.txt
          ls -l
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run second step
        run: |
          sleep 20
          echo "Hello from second step"
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run second step
        run: |
          sleep 20
          echo "Hello from second step"

